<h4>Hey.</h4>

<p>My attraction to technology began with my first iPhone and gradually snowballed into what it is today: a keen interest in programming and application development. I've been learning Ruby and Ruby on Rails for the past year and a half (FYI: this blog itself was created in Rails; you may find the code <a href="https://github.com/kennethlee/blog">here</a>). As of now, I'm beginning to devote the bulk of my focus on JavaScript and its related technologies.</p>

<p>I'll be posting musings, notes, discoveries, and useful tidbits as I come across them.</p>

<p>I hope you enjoy your stay.</p>

<p><b>- Kenny</b></p>

<ul class="list-inline center">
  <li><h4><a href="https://www.linkedin.com/in/kennyylee">LinkedIn</h4></li>
  <li><h4><a href="https://github.com/kennethlee">GitHub</a></h4></li>
  <li><h4><a href="https://twitter.com/almondhazelnut">Twitter</a></h4></li>
</ul>
